<script lang="ts">
    /** @type {import('./$types').PageData} */
    export let data;
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<ul>
    {#each data.blogposts as post (post.path)}
        <li>{post.metadata.title}</li>
    {/each}
</ul>
